<h2>Project Rotator</h2>

Requirements:
<ol>
<li>List of projects - done</li>
<li>Time Estimation - done</li>
<li>Track of time spent</li>
<li>Baseline</li>
<li>Phases</li>
<li>Priority</li>
<li>Percentage of Usage</li>
<li>Progress</li>
<li>Completion Estimation</li>
<li>Nested tasks, with usage referent to parent task</li>
</ol>

Next Release:
<ol>
<li>Authentication</li>
<li>SPA with Angular JS or Polymer</li>
</ol>